<li>
  <span class="smell">Complex method</span>
  <span class="smell-name"><%= smell.object.pretty_name %></span>
  <span class="smell-complexity">(complexity <%= smell.object.complexity %>)</span>
</li>
