<li>
  <span class="smell">Complex</span> code in
  <span class="smell-name"><%= stat.name %></span> definition outside of methods
  <span class="smell-complexity">(complexity <%= stat.definition_complexity %>)</span>
</li>
